/* .container {
  width: 17.3rem;
  margin: 0 auto;
  height: 100vh;
  padding-top: 1.33rem;
}*/

/* .title {
  line-height: 0.41rem;
  display: flex;
  justify-content: space-between;
} */

.container {
  padding-top: 1.33rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.next {
  width: 0.94rem;
  font-size: 0.2rem;
  font-family: "ag";
  color: #000;
  cursor: pointer;
  height: 0.13rem;
  margin-bottom: 1.54rem;
  float: right;
}

.left {
  margin-right: 0.15rem;
}

.list_container {
  /* width: 17.3rem; */
  /* position: absolute; */
  /* top: 3.28rem; */
  overflow: hidden;
}

.list {
  transition: transform 0.3s ease;
  display: flex;
  margin: 0 auto;
}

.list img {
  /* width: 4rem; */
  margin-bottom: 0.2rem;
}

.list span {
  font-family: "pgBold";
  font-size: 0.3rem;
  line-height: 0.3rem;
}

.list li {
  /* margin-right: 0.44rem; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.item {
  display: flex;
  flex-direction: column;
  text-align: left;
}
